.card1{
  height: 300px;
  width: 300px;
  border: 2px solid #0689F4;
  background-color: white;
  border-radius: 10px;
  margin: 10px;
  margin-right: 50px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);  
  display: flex;
  align-items: center;
  justify-content: center;
}

.card1:hover {
  background-color: whitesmoke;
}

.card1 button {
  height: 100%;
  width: 100%;
  border: none;
  border-radius: 10px;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

#subtitulo{
  font-size: 30px;
  font-weight: bold;
  color: #0689F4;
  text-align: center;
}

.card1 link {
  height: 100%;
  width: 100%;
}

.card1 p {
  text-decoration: none;
  
}