.title{
  padding-left: 35px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  flex: 1 auto;
  margin-bottom: 0;
  
}

.line{
  height: 1px;
  width: 90vw;
  background-image: linear-gradient(to right, lightgray, #f5f5f5);
  margin-top: 15px;
}

#title{
  margin: 0;
}
