#page {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-areas: "header"
                         "main"
                         "footer";
    grid-template-rows: 80px 1fr 80px;
  }
  
  .header {
    grid-area: "header";
  }
  
  .footer {
    grid-area: "footer";
  }
  
  .main {
    background-color: #f5f5f5;
    grid-area: "main";
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .box {
    height: 100%;
    width: 600px;
    margin: 20px 0;
  }

  
  
  .horizontalBox {
    justify-content: space-evenly;
    display: flex;
    
  }
  
  .horizontalBox div {
    width: 100%;
    
  }
  
  .horizontalBox :first-child {
    margin-right: 20px;
  }
  
  
  
  .box form {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .buttons {
    margin-top: 25px;

  }

.cancelDe {
  background-color: gray;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0 4px 4px 0 rgb(0 0 0 / 30%);
  height: 50px;
  width: 100%;
  margin: 5px;
}