#page {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-areas: "header"
                         "main"
                         "footer";
    grid-template-rows: 80px 1fr 80px;
  }
  
  .header {
    grid-area: "header";
  }
  
  .footer {
    grid-area: "footer";
  }
  
  .main {
    background-color: #f5f5f5;
    grid-area: "main";
    justify-content: flex-start !important;
  }
  
  .content {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    width: 100%;
  }
   
  .buscaInput :nth-child() {
      margin-left: 10px;
  }
  
  .buscaInput {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
  }
  
  .tabela {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }