
.container{
    flex-direction: row;
    display: flex;
    
}

.btn{

    justify-content: flex-end;
    display: flex;
    width: 100%;
}

.inputDiv{
    width: 100%;
    display: flex;
    align-items: center;
}

#aluno{
   height: 100%;
}

.dviBtn{
    justify-content: flex-end;
    display: flex;
    width: 100%;
}

.tabela{
    margin-top: 20px;
}


