#page {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-areas: "header"
                         "main"
                         "footer";
    grid-template-rows: 80px 1fr 80px;
  }
  
  .header {
    grid-area: "header";
  }
  
  .footer {
    grid-area: "footer";
  }
  
  .main {
    background-color: #f5f5f5;
    grid-area: "main";
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .boxAlt {
    height: 100%;
    width: 920px;
    margin: 20px 0;
  }
  
  .horizontalBox {
    justify-content: space-evenly;
    display: flex;
    
  }
  
  .horizontalBox div {
    width: 100%;
    
  }
  
  
  .box form {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .buttons {
    margin-top: 25px;
  }