.container{
    flex: 1 auto;
    background-color:#F5F5F5;
    

}

.subDiv{
    flex-direction: row;
    margin-top: 20px;
    display: flex;
    align-items: center;
    
}

.tabelaExer{
    margin-top: 20px;
}