.footer{
    width: 100%;
    background-color: #022D50;
    margin: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    flex: 1;
    position: relative;
    bottom: 0;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.8);  
}

#tel{
    text-align: center;
    color: white;
}