#page {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-areas: "header"
                       "menu"
                       "main"
                       "footer" !important;
  grid-template-rows: 80px 50px 1fr 80px !important;
}

.menu {
  grid-area: "menu";
}

.header {
  grid-area: "header";
}

.footer {
  grid-area: "footer";
}

.main {
  background-color: #f5f5f5;
  grid-area: "main";
  justify-content: flex-start !important;
}

.content {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
}

.buscaInput input {
  width: 85%;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  height: 25px;
  background-color: #f5f5f5;
  border-bottom-color: darkgray;
  border-bottom-width: 2px;
}

.buscaInput {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buscaInput img {
  height: 15px;
  width: 15px;
  color: gray;
  margin-left: 8px;
}

.tabela {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.btnAzul {
  background-color: #0689F4;
  color: white;
  margin: 0 5px;
  border: none;
  border-radius: 4px;
  width: 30px;
  height: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.btnAzul:hover{
  background-color: #0673cc;
  transition: 0.2s;
}

::-webkit-scrollbar-track {
  background-color: #F4F4F4;
}
::-webkit-scrollbar {
  width: 12px;
  background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #dad7d7;
}