#pageAlt {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-areas: "head"
                       "content"
                       "footer";
  grid-template-rows: 80px 1fr 80px;
}

.container {
  background-color:#F5F5F5;
  height: auto;
  display: flex;
  grid-area: "content";
  /* flex: 1 auto; */
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.header {
  grid-area: "head";
}

.footer {
  grid-area: "footer";
}

.boxAlt {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 25px;
  width: 400px;
  height: 430px;
  background-color: white;
}

.titulo {
  width: 100%;
  text-align: center;
}

.dados {
  width: 100%;
  padding-top: 0;
}

.dados form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  /* padding: 10px; */
  margin-bottom: 25px;
}

.linha {
  background-image: linear-gradient(to right, white, #d8d8d8, white);
  height: 1px;
  width: 100%;
}

.dados form div {
  width: 95%;
}

.botoes {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
  margin-top: 30px;
  margin-bottom: 8px;
  width: 100%;
}

form button {
  border: none;
  background-color: #0689F4;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
  height: 50px;
  width: 100%;
  margin: 5px;
}

.cancel {
  background-color: red;
}


.botoes .salvar:hover {
  background-color: #0678d6;
  transition-duration: 0.2s;
  
}

.botoes .cancel:hover{
  background-color: rgb(199, 0, 0);
  transition-duration: 0.2s;
}